:root {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: clamp(16px, 1.111vw, 22px);

  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000;
  background-color: #DCCCBC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  text-align: left;
  line-height: 1.36rem;
}

li {
  font-size: 1.125rem;
  font-weight: 400;
  color: #000;
  text-decoration: inherit;
}
li:hover, li:focus, li.selected {
  color: #AA6666;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 0.263rem;
  text-decoration-thickness: 0.125rem;
}

body {
  margin: 0;
}

#app {
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
}

@media (max-width: 750px) {
  :root {
    font-size: clamp(16px, 4.267vw, 32px)
  }

  .main-container {
    display: block;
  }
}
